{% extends "template.html"%}
{% block content%}
<h3 class = "text-white" >Ordenamientos</h3>
<div class="booking-form-body">
    <h4 class="text-white">Cómo desea ordenar?</h4>
    <div class="d-grid gap-2 col-6 mx-auto">
        <div class="row">
            <div class="col">
                <select class="form-select" aria-label="Opciones de ordenamiento">
                    <option value="_usuario">Usuario</option>
                    <option value="_fecha">Fecha</option>
                    <option value="_monto">Monto</option>
                </select>
            </div>
            <div class="col">
                <select class="form-select" aria-label="Opciones de ordenamiento">
                    <option value="1">Ascendente</option>
                    <option value="2">Descendente</option>
                </select>
            </div>
        </div>
        <a href="#" button class="btn btn-warning" type="button">ORDENAR</a>
    </div>
    <script>
        document.getElementById('ordenar').addEventListener('click', function() {
            var campo = document.getElementById('campo').value;
            var direccion = document.getElementById('direccion').value;
            window.location.href = '/historial/ordenar?campo=' + campo + '&direccion=' + direccion;
        });
    </script>
    <table id="tabla" class="table text-white">
        <thead>
            <th>Factura Nro</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Tipo RUC</th>
            <th>RUC</th>
        </thead>
        <tbody>
            
        </tbody>
    </table> 
</div>
{% endblock %}