{% extends "template.html" %}
{% block content %}

<h3 class="text-white">Historial de Facturas</h3>
<div class="booking-form-body">
    <div class="row">
        <div class="col-md-6 d-grid gap-2 mx-auto">
            <a href="/historial/ver" class="btn btn-success d-flex align-items-center justify-content-center" style="height: 50px;" type="button">AGREGAR FACTURA</a>
        </div>
        <div class="col-md-6">
            <div class="d-grid gap-2 mx-auto">
                <form id="ordenar-form" method="get" action="/historial/ordenar">
                    <div class="row">
                        <div class="col">
                            <select name="campo" class="form-select" aria-label="Opciones de ordenamiento">
                                <option value="_usuario">Usuario</option>
                                <option value="_fecha">Fecha</option>
                                <option value="_monto">Monto</option>
                            </select>
                        </div>
                        <div class="col">
                            <select name="direccion" class="form-select" aria-label="Opciones de ordenamiento">
                                <option value="1">Ascendente</option>
                                <option value="2">Descendente</option>
                            </select>
                        </div>
                        <div class="col">
                            <select name="algoritmo" class="form-select" aria-label="Opciones de algoritmo">
                                <option value="1">QuickSort</option>
                                <option value="2">MergeSort</option>
                                <option value="0">ShellSort</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-warning mt-2" type="submit">ORDENAR</button>
                </form>
            </div>
        </div>
    </div>
    <table id="tabla" class="table text-white">
        <thead>
            <th>Factura Nro</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Tipo RUC</th>
            <th>RUC</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ item._id }}</td>
                <td>{{ item._usuario }}</td>
                <td>{{ item._fecha }}</td>
                <td>{{ item._monto }}</td>
                <td>{{ item._tipoRUC }}</td>
                <td>{{ item._RUC }}</td>
                <td><a href="/facturas/editar/{{ item._id }}" class="btn btn-info">MODIFICAR</a></td>
                <td><form action="/facturas/eliminar" method="post">
                    <input type="hidden" name="id" value="{{item._id}}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="7" class="text-center">
                    <a href="/historial/generar" class="btn btn-secondary">Generar Retenciones</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
